{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home dos Usuários</title>
    <link rel="stylesheet" href="{% static 'assets/css/participante.css' %}">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <ul class="menu">
                <li class="active">
                    <a href="{% url 'participante' %}"> 
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'perfil' %}"> 
                        <i class="fas fa-user"></i>
                        <span>Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'historico' %}">
                        <i class="fas fa-chart-bar"></i>
                        <span>Resumos</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'carteirinha'%}"> 
                        <i class="fas fa-star"></i>
                        <span>Disciplinas</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'editar_atividade'%}"> 
                        <i class="fas fa-list"></i>
                        <span>Gerenciamento de Resumos</span>
                    </a>
                </li>
                <li class="logout">
                    {% csrf_token %}
                    <a href="#" onclick="document.getElementById('logout-form').submit();">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="main--content">
        <div class="header--wrapper">
            <div class="header--title">
                <span>Aluno(a)</span>
                <h2>{{ request.user.username }}</h2>
            </div>
                <div class="user--info">
                    <div class="search--box">
                    <i class="fa-solid fa-search"></i>
                    <input type="text" id="search" placeholder="Pesquise...">
                </div>
                <img src="{% static 'assets/img/astronomia.png' %}" alt="">
            </div>
        </div>
<!--Adicionar um botão para saiba mais e o tipo da atividade-->
        <h1>Atividades</h1>
        <div class="activities">
            {% for atividade in atividades %}
                <div class="activity">
                    <img src="{% static 'assets/img/astronomia.png' %}" alt="{{ atividade.nome }}">
                    <h2>{{ atividade.nome }}</h2>
                    <p>{{ atividade.descricao }}</p>
                    <a href="{% url 'atividade_detalhes' atividade_id=atividade.id %}" class="btn">Saiba Mais</a>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
    <script src="{% static 'js/script_participante.js' %}"></script>
</body>
</html>